 <!-- store -->
 <section id="store" class="store py-5">
  <div class="container">

    <div class="row1">
      <div class="col-10 mx-auto col-sm-6 text-center">
        <h1 class="text-capitalize">WE <strong class="banner-title ">Buy</strong></h1>
      </div>
    </div>

    <div class="row2" class="store-items" id="store-items">
      <!-- single item -->
    <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3 store-item sweets" data-item="sweets">
    <div class="card ">

       <div class="card-body">

        <div class="categories">
              <app-category></app-category>
              </div>


          </div>
          </div>
          <div class="card ">

            <div class="card-body">
             <div class="Products">
               <app-products></app-products>
               </div>



              </div>
              </div>
          </div>
    </div>

    </div>
 </section>
